@font-face {
    font-family: 'Logo';
    src: url('./Fonts/VeganStylePersonalUse-5Y58.woff') format('woff'),
         url('./Fonts/VeganStylePersonalUse-5Y58.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 244, 230);
}

.pic {
    background-image: url('./Images/filipp-romanovski-Wv918Z6Hf7s-unsplash\ \(1\).png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    position: relative;
}

.credit {
    position: absolute;
    top: 97vh;
    left: 10vw;
    width: fit-content;
    font-size: 1vw;
    color: white;
}

.credit a {
    color: white;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    height: 15vh;
    position: absolute;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo img {
    width: auto;
    height: 13vh;
}

.logo-text {
    color: white;
    font-family: 'Logo', sans-serif;
    font-size: 3rem;
    margin-top: 0.7rem;
}

.content {
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 14rem;
}

.content-text,
.form,
.btn,
.login {
    padding-left: 4rem;
}

.content-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.form {
    width: 60vw;
    height: 35vh;
    background-color: rgb(220, 199, 174);
    box-shadow: 0 15px 20px -20px gray;
}

.form-content {
    padding-top: 1rem;
    color: rgb(41, 41, 41);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.form-content h2 {
    width: 100%;
}

.form-content div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

button {
    margin-top: 3rem;
    width: 11vw;
    height: 5vh;
    border: 0px;
    background-color: rgb(236, 134, 61);
    border-radius: 6px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgb(168, 168, 168);
}

button:hover {
    background-color: antiquewhite;
    border: 3px solid rgb(236, 134, 61);
    color:black;   
}

.login {
    color: black;
    margin-top: 3rem;
    font-size: 1rem;
}

.login a {
    color: rgb(236, 134, 61);
    font-weight: 900;
    text-decoration: none;
}

.login a:hover {
    color: brown;
}